@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

    height:100vh;

}

.main-section{
    height:100%;
    background:linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(229,241,255,1) 50%, #1769C6 50%, #1769C6 70%, #00244D 100%)
}
.ant-card-body{
  padding:5px !important;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

